<!DOCTYPE html>
<html>
<head>
  <title>React Rails Webpack CRUD</title>
  <%= stylesheet_link_tag *webpack_asset_paths('application', extension: 'css') %>
  <%= javascript_include_tag *webpack_asset_paths("application") %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
